<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
</head>
<body>
    <h1>Image Classification</h1>
    <form action="/evaluate">
        <button type="submit">Evaluate Model (Takes 2 minutes)</button>
    </form>
    <br>
    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Upload Image</button>
    </form>
    <!-- Result display area for prediction -->
    <div id="predictionResult">
        {% if prediction_result %}
            <p><strong>Predicted Class:</strong> {{ prediction_result.predicted_class }}</p>
            <p><strong>Predictions:</strong> {{ prediction_result.predictions }}</p>
        {% endif %}
    </div>
</body>
</html>
